@using SistemaBico.Web.Enum
@using SistemaBico.Web.Util
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model SistemaBico.Web.Models.Reponse.ProfessionalClientPaginationResponse;
@{
    Layout = "~/Views/Shared/_layout.cshtml";
}

<form class="form" id="kt_form_update" action="Professional/ProfessionalPage" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-custom card-stretch gutter-b compact">
                <div class="card-header">
                    <h3 class="card-title">
                        Por favor, aprove ou reprove a solicitações de serviços abaixo.
                    </h3>
                </div>
                <!--begin::Row-->
                <div class="card-body">
                    <div asp-area="" class="row" id="listProfessional">
                        @{
                            if (Model.ProfessionalClient.Count == 0)
                            {
                                <div class="d-flex flex-column flex-root">
                                    <!--begin::Error-->
                                    <div class="error error-5 d-flex flex-row-fluid bgi-size-cover bgi-position-center" style="background-image: url(assets/media/error/bg5.jpg);">
                                        <!--begin::Content-->
                                        <div class="container d-flex flex-row-fluid flex-column justify-content-md-center p-12">
                                            <h1 class="error-title font-weight-boldest text-info mt-10 mt-md-0 mb-12">Oops!</h1>
                                            <p class="font-weight-boldest display-4">Você não possui nenhum cliente para aprovar.</p>
                                        </div>
                                        <!--end::Content-->
                                    </div>
                                    <!--end::Error-->
                                </div>
                            }
                        }
                        @foreach (var item in Model.ProfessionalClient)
                        {
                            <div class="card card-custom gutter-b col-lg-12 style="box-shadow: 0px 0px 30px 0px rgb(0 0 0 / 15%);">
                                <div class="card-body">
                                    <!--begin::Top-->
                                    <div class="d-flex">
                                        <!--begin::Pic-->
                                        <div class="flex-shrink-0 mr-7">
                                            <div class="symbol symbol-50 symbol-lg-120">
                                                <img class="round" src="data:image/jpg;base64,@item.Client.PerfilPicture" alt="image" />
                                            </div>
                                        </div>
                                        <!--end::Pic-->
                                        <!--begin: Info-->
                                        <div class="flex-grow-1">
                                            <!--begin::Title-->
                                            <div class="d-flex align-items-center justify-content-between flex-wrap mt-2">
                                                <!--begin::User-->
                                                <div class="mr-3">
                                                    <!--begin::Name-->
                                                    <label class="d-flex align-items-center text-dark text-hover-primary font-size-h5 font-weight-bold mr-3">
                                                        <a>@item.Client.Name @item.Client.LastName</a>
                                                        <i class="flaticon2-correct text-success icon-md ml-2"></i>
                                                    </label>
                                                    @{
                                                        string phone = ConvertGeneric.ConvertTelefoneLimpo(@item.Client.PhoneNumber);
                                                        string linkWhats = "https://wa.me/55" + @phone + "?text=Olá, tudo bem ? Peguei seu contato através da plataforma de serviços *WORKFREE*.";
                                                    }
                                                    <a href="@linkWhats" target="_blank" class="text-dark-75 font-weight-bolder font-size-sm">
                                                        <span class="svg-icon svg-icon-md svg-icon-gray-500 mr-1">
                                                            <!--begin::Svg Icon | path:assets/media/svg/icons/Map/Marker2.svg-->
                                                            <!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo10\dist/../src/media/svg/icons\Communication\Call#1.svg-->
                                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                    <rect x="0" y="0" width="24" height="24" />
                                                                    <path d="M11.914857,14.1427403 L14.1188827,11.9387145 C14.7276032,11.329994 14.8785122,10.4000511 14.4935235,9.63007378 L14.3686433,9.38031323 C13.9836546,8.61033591 14.1345636,7.680393 14.7432841,7.07167248 L17.4760882,4.33886839 C17.6713503,4.14360624 17.9879328,4.14360624 18.183195,4.33886839 C18.2211956,4.37686904 18.2528214,4.42074752 18.2768552,4.46881498 L19.3808309,6.67676638 C20.2253855,8.3658756 19.8943345,10.4059034 18.5589765,11.7412615 L12.560151,17.740087 C11.1066115,19.1936265 8.95659008,19.7011777 7.00646221,19.0511351 L4.5919826,18.2463085 C4.33001094,18.1589846 4.18843095,17.8758246 4.27575484,17.613853 C4.30030124,17.5402138 4.34165566,17.4733009 4.39654309,17.4184135 L7.04781491,14.7671417 C7.65653544,14.1584211 8.58647835,14.0075122 9.35645567,14.3925008 L9.60621621,14.5173811 C10.3761935,14.9023698 11.3061364,14.7514608 11.914857,14.1427403 Z" fill="#042155" />
                                                                </g>
                                                            </svg><!--end::Svg Icon-->
                                                            <!--end::Svg Icon-->
                                                        </span>@item.Client.PhoneNumber
                                                    </a>
                                                    <!--end::Name-->
                                                </div>
                                                <!--begin::User-->

                                                <div class="d-flex flex-wrap my-2 my-lg-0 my-1">
                                                    <button type="button" class="btn btn-success btn-shadow font-weight-bold mr-2 mt-2" id="Aceitar_@item.Id" onclick="Aceitar('@item.Id')"><i class="flaticon-like icon-md"></i><i id="spinner_@item.Id"></i> Aceitar </button>
                                                    <button type="button" class="btn btn-danger btn-shadow font-weight-bold mr-2 mt-2" id="Recusar_@item.Id" onclick="Recusar('@item.Id')"><i class="flaticon2-cancel icon-md"></i><i id="spinnerRemover_@item.Id"></i> Recusar</button>
                                                </div>

                                            </div>
                                            <!--end::Info-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>

                </div>
            </div>

        </div>
    </div>
</form>

@section Scripts{
    <!--begin::Global Theme Bundle(used by all pages)-->
    <script src="~/scripts/Profissional/clientApproval.js"></script>

}
