@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using SistemaBico.Web.Models
@model ProfileProfessionalTopDto
<!DOCTYPE html>
<html lang="pt-BR" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Bico | Conectamos os clientes aos melhores profissionais.</title>
    <style>
        .btn-custom {
            background-color: rgba(255, 95, 6, 0.8); /* Laranja */
            color: #FFFFFF; /* Branco */
            border: none;
            padding: 17px 30px; /* Ajuste conforme necessário */
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
        }

            .btn-custom:hover {
                background-color: rgb(255, 95, 6); /* Laranja (sem opacidade) */
                color: #FFFFFF; /* Branco */
            }



        .testimonial-card .card-up {
            height: 120px;
            overflow: hidden;
            border-top-left-radius: .25rem;
            border-top-right-radius: .25rem;
        }

        .aqua-gradient {
            background: linear-gradient(40deg, #ff5e00, #f58006bf) !important;
        }

        .testimonial-card .avatar {
            width: 120px;
            margin-top: -60px;
            overflow: hidden;
            border: 5px solid #fff;
            border-radius: 50%;
        }

        .avatar img {
            width: 150px; /* Defina o tamanho da imagem para preencher o contêiner */
            height: 115px; /* Altura automática para manter a proporção */
        }
    </style>

    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="shortcut icon" href="assets/media/logos/Favicon2.ico" />
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="assetsSite/css/theme.css" rel="stylesheet" />

</head>
<body>
    <main class="main" id="top">
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" data-navbar-on-scroll="data-navbar-on-scroll">
            <div class="container">
                <a class="navbar-brand d-inline-flex" href="@Url.Action("index", "Site")">
                    <img class="d-inline-block" src="assetsSite/img/gallery/logo.png" alt="logo" />
                    <span class="text-1000 fs-3 fw-bold ms-2 text-gradient"></span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" onclick="window.location.href='@Url.Action("Index", "Login")'">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse border-top border-lg-0 my-2 mt-lg-0" id="navbarSupportedContent">
                    <div class="mx-auto pt-5 pt-lg-0 d-block d-lg-none d-xl-block">
                    </div>
                    <form class="d-flex mt-4 mt-lg-0 ms-lg-auto ms-xl-0">
                        <div class="input-group-icon pe-2">
                        </div>
                        <a href="@Url.Action("Index", "Login")" class="btn btn-white shadow-warning text-warning d-flex align-items-center text-decoration-none">
                            <i class="fas fa-user me-2"></i>Login
                        </a>
                    </form>
                </div>
            </div>
        </nav>
        <section class="py-5 overflow-hidden bg-primary" id="home">
            <div class="container">
                <div class="row flex-center">
                    <div class="col-md-5 col-lg-6 order-0 order-md-1 mt-8 mt-md-0"><a class="img-landing-banner"><img class="img-fluid" src="assetsSite/img/icons/fundo.png" alt="hero-header" /></a></div>
                    <div class="col-md-7 col-lg-6 py-8 text-md-start text-center">
                        <h1 class="display-1 fs-md-5 fs-lg-6 fs-xl-8 text-light">Encontre agora mesmo o melhor profissional!</h1>
                        <h1 class="text-800 mb-5 fs-4"> Encontre pessoas especializadas e contrate serviços para todas as suas necessidades!<br class="d-none d-xxl-block" /></h1>
                        <div class="mt-5">
                            <div class="row">
                                <div class="col-sm mb-3">
                                    <!-- Adiciona margem na parte inferior para separar os botões em dispositivos menores -->
                                    <button class="btn-custom w-100" type="button" onclick="window.location.href = '@Url.Action("contratante", "Login")'">Encontrar Profissional</button>
                                </div>
                                <div class="col-sm">
                                    <!-- Os botões ocupam o mesmo espaço em dispositivos menores -->
                                    <button class="btn-custom w-100" type="button" onclick="window.location.href = '@Url.Action("profissional", "Login")'">Seja Um Profissional</button>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="card w-xxl-75">
                            <div class="card-body">
                                <nav>
                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                        <button class="nav-link active mb-3" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Encontrar Profissional</button>
                                    </div>
                                </nav>
                                <div class="tab-content mt-3" id="nav-tabContent">
                                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                        <form class="row gx-2 gy-2 align-items-center" action="Site" method="post">
                                            <div class="col">
                                                <div class="input-group-icon">
                                                    <i class="fas fa-map-marker-alt text-danger input-box-icon"></i>
                                                    <label class="visually-hidden" for="inputDelivery">Address</label>
                                                    <input class="form-control input-box form-foodwagon-control" id="city" type="text" name="city" placeholder="Digite sua cidade." />
                                                </div>
                                            </div>
                                            <div class="d-grid gap-3 col-sm-auto">
                                                <button class="btn btn-danger" type="submit">Buscar</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="py-4 overflow-hidden">
            <div class="container">
                <div class="row h-100">
                    <div class="col-lg-7 mx-auto text-center mt-7 mb-5">
                        <h5 class="fw-bold fs-3 fs-lg-5 lh-sm">Alguns de nossos profissionais</h5>
                    </div>
                    <div class="col-12">
                        <div class="carousel slide" id="carouselPopularItems" data-bs-touch="false" data-bs-interval="false">
                            <div class="carousel-inner">
                                <div class="carousel-item active" data-bs-interval="10000">
                                    <div class="row  gx-3">
                                        @for (int i = 0; @ViewBag.Profissionais != null && i < @ViewBag.Profissionais.Count && i < 6; i++)
                                        {

                                            <div class="col-sm-6 col-md-4 col-xl-2 mb-2">
                                                <div class="card testimonial-card mt-2 mb-2">
                                                    <div class="card-up aqua-gradient"></div>
                                                    <div class="avatar mx-auto white">
                                                        <img src="@($"data:image/png;base64,{@ViewBag.Profissionais[i].PerfilPicture}")" class="rounded-circle img-fluid" alt="woman avatar">
                                                    </div>
                                                    <div class="card-body text-center">
                                                        <h4 class="card-title font-weight-bold">@($"{@ViewBag.Profissionais[i].Name} {@ViewBag.Profissionais[i].LastName}")</h4>
                                                        <hr>
                                                        <p>
                                                            <i class="fas fa-map-marker-alt text-warning me-1"></i> @ViewBag.Profissionais[i].City<br />
                                                            <i class="fas fa-user-md text-primary me-1"></i> @ViewBag.Profissionais[i].Profession
                                                        </p>
                                                    </div>
                                                    <div class="card-footer bg-transparent border-top-0">
                                                        <div class="d-grid">
                                                            <a class="btn btn-sm btn-danger" href="@Url.Action("Index", "Login")" role="button">Realizar Orçamento</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                     
                                        }
                                    </div>
                                </div>
                                @if (@ViewBag.Profissionais != null && @ViewBag.Profissionais.Count > 6)
                                {

                                    <div class="carousel-item" data-bs-interval="5000">
                                        @{
                                            <div class="row gx-3">
                                                @for (int i = 5; i < @ViewBag.Profissionais.Count && i < 12; i++)
                                                {
                                                    <div class="col-sm-6 col-md-4 col-xl-2 mb-2">
                                                        <div class="card testimonial-card mt-2 mb-2">
                                                            <div class="card-up aqua-gradient"></div>
                                                            <div class="avatar mx-auto white">
                                                                <img src="@($"data:image/png;base64,{@ViewBag.Profissionais[i].PerfilPicture}")" class="rounded-circle img-fluid" alt="woman avatar">
                                                            </div>
                                                            <div class="card-body text-center">
                                                                <h4 class="card-title font-weight-bold">@($"{@ViewBag.Profissionais[i].Name} {@ViewBag.Profissionais[i].LastName}")</h4>
                                                                <hr>
                                                                <p>
                                                                    <i class="fas fa-map-marker-alt text-warning me-1"></i> @ViewBag.Profissionais[i].City<br />
                                                                    <i class="fas fa-user-md text-primary me-1"></i> @ViewBag.Profissionais[i].Profession
                                                                </p>
                                                            </div>
                                                            <div class="card-footer bg-transparent border-top-0">
                                                                <div class="d-grid">
                                                                    <a class="btn btn-sm btn-danger" href="@Url.Action("Index", "Login")" role="button">Realizar Orçamento</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>

                                        }

                                    </div>
                                }

                            </div>
                            <button class="carousel-control-prev carousel-icon" type="button" data-bs-target="#carouselPopularItems" data-bs-slide="prev"><span class="carousel-control-prev-icon hover-top-shadow" aria-hidden="true"></span><span class="visually-hidden">Previous</span></button>
                            <button class="carousel-control-next carousel-icon" type="button" data-bs-target="#carouselPopularItems" data-bs-slide="next"><span class="carousel-control-next-icon hover-top-shadow" aria-hidden="true"></span><span class="visually-hidden">Next </span></button>
                        </div>
                    </div>
                </div>
            </div><!-- end of .container-->

        </section>

        <!-- ============================================-->
        <!-- <section> begin ============================-->
        <section class="py-0 bg-primary-gradient">

            <div class="container">
                <div class="row justify-content-center g-0">
                    <div class="col-xl-9">
                        <div class="col-lg-6 text-center mx-auto mb-3 mb-md-5 mt-4">
                            <h5 class="fw-bold text-danger fs-3 fs-lg-5 lh-sm my-6">Está procurando um profissional e deseja saber como funciona ?</h5>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-3 mb-6">
                                <div class="text-center">
                                    <img class="shadow-icon" src="assetsSite/img/gallery/location.png" height="112" alt="..." />
                                    <h5 class="mt-4 fw-bold">Selecione sua cidade</h5>
                                    <p class="mb-md-0">Você pode encontrar profissionais em sua cidade e entrar em contato diretamente.</p>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3 mb-6">
                                <div class="text-center">
                                    <img class="shadow-icon" src="assetsSite/img/gallery/order.png" height="112" alt="..." />
                                    <h5 class="mt-4 fw-bold">Faça o seu pedido</h5>
                                    <p class="mb-md-0">Você pode solicitar um serviço e os profissionais entrarão em contato com você.</p>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3 mb-6">
                                <div class="text-center">
                                    <img class="shadow-icon" src="assetsSite/img/gallery/pay.png" height="112" alt="..." />
                                    <h5 class="mt-4 fw-bold">Escolha o profissional</h5>
                                    <p class="mb-md-0">Escolha o melhor profissional para você e pague diretamente a ele.</p>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3 mb-6">
                                <div class="text-center">
                                    <img class="shadow-icon" src="assetsSite/img/icons/avaliacao.png" height="112" alt="..." />
                                    <h5 class="mt-4 fw-bold">Avalie o serviço</h5>
                                    <p class="mb-md-0">Após a finalização do serviço, avalie o prestador para que outras pessoas possam contratá-lo.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- end of .container-->

        </section>
        <!-- <section> close ============================-->
        <!-- ============================================-->


        <section>
            <div class="bg-holder" style="background-image:url(assetsSite/img/gallery/cta-one-bg.png);background-position:center;background-size:cover;">
            </div>
            <!--/.bg-holder-->

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xxl-12">
                        <div class="card card-span shadow-warning" style="border-radius: 35px;">
                            <div class="card-body py-5">
                                <div class="row justify-content-evenly">
                                    <div class="col-md-3">
                                        <div class="d-flex d-md-block d-xl-flex justify-content-evenly justify-content-lg-between">
                                            <img src="assetsSite/img/icons/discounts.png" width="100" alt="..." />
                                            <div class="d-flex d-lg-block d-xl-flex flex-center ms-4">
                                                <h2 class="fw-bolder text-1000 mb-0 text-gradient">Tenha vários <br class="d-none d-md-block" />orçamentos.</h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 hr-vertical">
                                        <div class="d-flex d-md-block d-xl-flex justify-content-evenly justify-content-lg-between">
                                            <img src="assetsSite/img/icons/live-tracking.png" width="100" alt="..." />
                                            <div class="d-flex d-lg-block d-xl-flex flex-center  ms-4">
                                                <h2 class="fw-bolder text-1000 mb-0 text-gradient">  Profissionais perto de você.</h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 hr-vertical">
                                        <div class="d-flex d-md-block d-xl-flex justify-content-evenly justify-content-lg-between">
                                            <img src="assetsSite/img/icons/mavaliado.png" width="100" alt="..." />
                                            <div class="d-flex d-lg-block d-xl-flex flex-center ms-4">
                                                <!-- Adicionei a classe "ms-2" para adicionar um espaçamento à esquerda -->
                                                <h2 class="fw-bolder text-1000 mb-0 text-gradient">Profissionais avaliados.</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row flex-center mt-md-8">
                     <div class="col-lg-5 mt-7 mt-md-0">
                        <h1 class="text-primary">É um prestador de serviço ?</h1>
                        <p>Cadastre-se agora gratuitamente e receba várias orfertas de serviço. <br class="d-none d-xl-block" />Estamos oferecendo gratuitamente o primeiro serviço.</p>
                        <button class="btn-custom" type="button" onclick="window.location.href = '@Url.Action("profissional", "Login")'">Seja Um Profissional</button>
                    </div>
                </div>
            </div>
        </section>

        <section class="py-0 pt-7 bg-1000">
            <div class="container">
                <div class="row">
                    <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mb-3">
                        <h5 class="lh-lg fw-bold text-white">Bico</h5>
                        <ul class="list-unstyled mb-md-4 mb-lg-0">
                            <li class="lh-lg"><a class="text-200 text-decoration-none" target="_blank" href="@Url.Action("TermoUso", "Term")">Termos de uso</a></li>
                            <li class="lh-lg"><a class="text-200 text-decoration-none" target="_blank" href="@Url.Action("PoliticaPrivacidade", "Term")">Política de privacidade</a></li>
                        </ul>
                    </div>
                </div>
                <hr class="border border-800" />
                <div class="row flex-center pb-3">
                    <div class="col-md-6 order-0">
                        <p class="text-200 text-center text-md-start">Todos os direitos reservados &copy; Bico, 2024</p>
                    </div>
                </div>
            </div><!-- end of .container-->

        </section>
        <!-- <section> close ============================-->
        <!-- ============================================-->


    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->
    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="assetsSite/vendors/popperjs/popper.min.js"></script>
    <script src="assetsSite/vendors/bootstrap/bootstrap.min.js"></script>
    <script src="assetsSite/vendors/is/is.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="assetsSite/vendors/fontawesome/all.min.js"></script>
    <script src="assetsSite/js/theme.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&amp;display=swap" rel="stylesheet">
</body>

</html>