<!DOCTYPE html>
<html lang="pt-BR" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="../../../">

    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Bico | Conectamos os clientes aos melhores profissionais.</title>
    <style>
        .btn-custom {
            background-color: rgba(255, 95, 6, 0.8); /* Laranja */
            color: #FFFFFF; /* Branco */
            border: none;
            padding: 17px 30px; /* Ajuste conforme necessário */
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
        }

            .btn-custom:hover {
                background-color: rgb(255, 95, 6); /* Laranja (sem opacidade) */
                color: #FFFFFF; /* Branco */
            }
    </style>

    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="shortcut icon" href="assets/media/logos/Favicon2.ico" />
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="assetsSite/css/theme.css" rel="stylesheet" />

</head>


<body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" data-navbar-on-scroll="data-navbar-on-scroll">
            <div class="container">
                <a class="navbar-brand d-inline-flex" href="@Url.Action("index", "Site")"><img class="d-inline-block" src="assetsSite/img/gallery/logo.png" alt="logo" /><span class="text-1000 fs-3 fw-bold ms-2 text-gradient"></span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"> </span></button>

            </div>
        </nav>
        <!-- ============================================-->
        <!-- <section> begin ============================-->
        <section class="bg-primary-gradient">

            <div class="container">
                <div class="row justify-content-center g-0">
                    <div class="col-xl-9">
                        <div class="col-lg-6 text-center mx-auto mb-3 mb-md-5 mt-4">
                            <h5 class="fw-bold text-danger fs-3 fs-lg-5 lh-sm my-6">Estamos prontos para começar?</h5>
                            <p>Você gostaria de oferecer seus serviços ou contratar um profissional?</p>
                        </div>
                        <div class="mt-5">
                            <div class="row">
                                <div class="col-sm mb-3">
                                    <!-- Adiciona margem na parte inferior para separar os botões em dispositivos menores -->
                                    <button class="btn-custom w-100" type="button" onclick="window.location.href = '@Url.Action("contratante", "Login")'">Encontrar Profissional</button>
                                </div>
                                <div class="col-sm">
                                    <!-- Os botões ocupam o mesmo espaço em dispositivos menores -->
                                    <button class="btn-custom w-100" type="button" onclick="window.location.href = '@Url.Action("profissional", "Login")'">Oferecer Serviços</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- end of .container-->

        </section>
        <!-- <section> close ============================-->
        <!-- ============================================-->



        <section class="pt-7 bg-1000">
            <div class="container">
                <div class="row">
                    <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mb-3">
                        <h5 class="lh-lg fw-bold text-white">Bico</h5>
                        <ul class="list-unstyled mb-md-4 mb-lg-0">
                            <li class="lh-lg"><a class="text-200 text-decoration-none" target="_blank" href="@Url.Action("TermoUso", "Term")">Termos de uso</a></li>
                            <li class="lh-lg"><a class="text-200 text-decoration-none" target="_blank" href="@Url.Action("PoliticaPrivacidade", "Term")">Política de privacidade</a></li>
                        </ul>
                    </div>
                </div>
                <hr class="border border-800" />
                <div class="row flex-center pb-3">
                    <div class="col-md-6 order-0">
                        <p class="text-200 text-center text-md-start">Todos os direitos reservados &copy; Bico, 2024</p>
                    </div>
                </div>
            </div><!-- end of .container-->

        </section>
        <!-- <section> close ============================-->
        <!-- ============================================-->


    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->
    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="assetsSite/vendors/popperjs/popper.min.js"></script>
    <script src="assetsSite/vendors/bootstrap/bootstrap.min.js"></script>
    <script src="assetsSite/vendors/is/is.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="assetsSite/vendors/fontawesome/all.min.js"></script>
    <script src="assetsSite/js/theme.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&amp;display=swap" rel="stylesheet">
</body>

</html>